/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 24px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: rgb(10,12,20);
    --scroll_width: 17px;
    --text_color: #fff;
    --font_size: 16px;
    --font_size_title: 32px;
    --font_family: 'Poppins', 'Arial', sans-serif;
}


::selection
{
    color: #fff;
    background: #00ffa6;
}

::-moz-selection
{
    color: #fff;
    background: #00ffa6;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #00ffa6;
}


body
{
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    color: var(--text_color);
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-width: 375px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.cont
{
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
}


.block
{
    margin-bottom: 60px;
}


.row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}



/*----------------
    Block head
----------------*/
.block_head
{
    position: relative;

    margin-bottom: 26px;
    padding-top: 40px;

    text-align: center;
}


.block_head .title_big
{
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;

    position: absolute;
    z-index: 1;
    top: 5px;
    left: 0;

    width: 100%;

    text-transform: uppercase;

    color: transparent;

    -webkit-text-stroke: 1px rgba(255, 255, 255, .12);
}


.block_head .title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: 120%;

    position: relative;
    z-index: 2;

    display: block;
}


.block_head .title span
{
    text-transform: uppercase;

    background: -webkit-linear-gradient(45deg, #0cdb93, #7ea5ff, #ff01f5);
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}


.block_head .title span.green
{
    color: #00ffa6;
    background: none;

    -webkit-text-fill-color: #00ffa6;
}


.block_head .desc
{
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;

    margin-top: 4px;
}



/*-------------------
    First section
-------------------*/
.first_section
{
    padding-top: 40px;
}


.first_section .title
{
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;

    display: block;

    width: 300px;
    max-width: 100%;
    margin: 0 auto;

    text-align: center;
}


.first_section .title .green
{
    color: #00ffa6;
}


.first_section .title .pink
{
    color: #ff00f5;
}



/*-------------
    Welcome
-------------*/
.welcome .block_head
{
    padding-top: 20px;
}


.welcome .block_head .title_big
{
    font-size: 32px;
}


.welcome .block_head .title
{
    font-size: 24px;
}


.welcome .row
{
    align-content: stretch;
    align-items: stretch;

    margin-top: 18px;
    margin-bottom: -20px;
    margin-left: -20px;
}


.welcome .row > *
{
    width: calc(50% - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
}


.welcome .list > * + *
{
    margin-top: 20px;
}



.welcome .big_item
{
    position: relative;

    overflow: hidden;

    border-radius: 20px;
    background: #2b2740;
}

.welcome .big_item:nth-child(2)
{
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 35, 10, .4)), to(rgba(255, 35, 10, .4))), #000;
    background: linear-gradient(0deg, rgba(255, 35, 10, .4) 0%, rgba(255, 35, 10, .4) 100%), #000;
}


.welcome .big_item .inner
{
    padding: 21px 21px 36px;

    border: 10px solid #fff;
    border-radius: 20px;
}


.welcome .big_item .sticker
{
    font-size: 10px;
    font-weight: 800;
    line-height: 10px;

    position: absolute;
    z-index: 3;
    top: 15px;
    right: 21px;

    display: flex;
    align-items: center;

    padding: 3.5px 7px;

    text-transform: uppercase;

    color: #fff;
    border-radius: 100px;
    background-color: #ff3f45;

    gap: 2px;
}


.welcome .big_item .sticker svg
{
    display: block;

    width: 16px;
    height: 16px;
}


.welcome .big_item .sticker2
{
    font-size: 10px;
    font-weight: 700;
    line-height: 100%;

    position: absolute;
    top: 30px;
    left: -41px;

    padding: 9px 30px 6px;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    text-transform: uppercase;

    color: #fff;
    background: linear-gradient(92deg, #00cb84 13.66%, #77a0ff 53.95%, #ff01f5 103.38%);
}


.welcome .big_item .logo
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 216px;
    max-width: 100%;
    height: 82px;
    margin: 0 auto;
    margin-bottom: 15px;
}


.welcome .big_item .logo img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.welcome .big_item .info
{
    padding: 0 18px 18px;

    text-align: center;

    border-radius: 20px;
    background: rgba(255, 255, 255, .1);
}


.welcome .big_item .type
{
    font-size: 10px;
    font-weight: 800;
    line-height: 10px;

    position: relative;
    top: -5px;

    display: inline-block;

    padding: 6px 18px;

    text-align: center;
    text-transform: uppercase;

    color: #ff00f5;
    background: #ffe6fe;

    -webkit-clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}


.welcome .big_item .name
{
    font-size: 20px;
    font-weight: 700;

    margin-top: 4px;
}


.welcome .big_item .desc
{
    font-size: 14px;
    font-weight: 500;
}


.welcome .big_item .link
{
    margin-top: 16px;
}


.welcome .big_item .link a
{
    font-size: 14px;
    font-weight: 600;

    display: block;

    padding: 14px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 100px;
    background: #00cb84;
}



.welcome .item
{
    position: relative;

    overflow: hidden;

    padding: 5px 5px 13px;

    text-align: center;

    border-radius: 20px;
    background: #fff;
}


.welcome .item .sticker
{
    font-size: 6.5px;

    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;

    display: flex;
    align-items: center;

    padding: 2px 3px;

    border-radius: 100px;
    background-color: #ff3f45;

    gap: 2px;
}


.welcome .item .sticker svg
{
    display: block;

    width: 10px;
    height: 10px;
}


.welcome .item .sticker2
{
    font-size: 6.6px;
    font-weight: 800;
    line-height: 10px;

    position: absolute;
    top: 35px;
    left: -48px;

    height: 14px;
    padding: 0 30px;

    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    text-transform: uppercase;

    color: #fff;
    background: linear-gradient(92deg, #00cb84 13.66%, #77a0ff 53.95%, #ff01f5 103.38%);
}

.welcome .item .sticker2 span
{
    position: relative;
    top: 2px;
    left: 16px;
}


.welcome .item .thumb
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 108px;
    margin-bottom: 19px;
    padding: 26px 11px 30px;

    border-radius: 15px;
    background-color: #161421;
}


.welcome .item .thumb img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.welcome .item .type
{
    font-size: 10px;
    font-weight: 800;
    line-height: 10px;

    display: inline-block;

    padding: 6px 17px;

    text-transform: uppercase;

    color: #ff00f5;
    background-color: #ffe6fe;

    -webkit-clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
            clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}


.welcome .item .name
{
    font-size: 15px;
    font-weight: 600;

    margin-top: 4px;

    color: #0a0c14;
}


.welcome .item .desc
{
    font-size: 12px;
    font-weight: 600;

    color: #0a0c14;
}


.welcome .item .link
{
    margin-top: 18px;
}


.welcome .item .link a
{
    font-size: 14px;
    font-weight: 600;

    display: inline-block;

    width: 114px;
    max-width: 100%;
    padding: 14px;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 100px;
    background: #00cb84 ;
}



/*-----------------
    Top bonuses
-----------------*/
.top_bonuses .item
{
    position: relative;

    display: block;
    display: flex;
    overflow: hidden;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;

    min-height: 250px;
    padding: 32px 27px;

    text-decoration: none;

    border-radius: 20px;
}


.top_bonuses .item + .item
{
    margin-top: 20px;
}


.top_bonuses .item:before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(25, 27, 34, 0)), to(rgba(25, 27, 34, .8)));
    background: linear-gradient(180deg, rgba(25, 27, 34, 0) 20%, rgba(25, 27, 34, .8) 100%);
}


.top_bonuses .item picture img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 0;
}


.top_bonuses .item .info
{
    position: relative;
    z-index: 3;

    width: 100%;
}


.top_bonuses .item .name
{
    font-size: 24px;
    font-weight: 700;

    color: #fff;
}


.top_bonuses .item .count
{
    font-size: 12px;
    font-weight: 500;

    color: rgba(255, 255, 255, .8);
}



/*---------------
    Epic wins
---------------*/
.epic_wins .block_head
{
    position: relative;

    padding-top: 24px;
}


.epic_wins .block_head .title_big
{
    font-size: 32px;
}


.epic_wins .block_head .title
{
    font-size: 28px;
}


.epic_wins .block_head .coin
{
    position: absolute;
    top: 0;
    left: 15px;

    display: block;

    width: 20px;

    pointer-events: none;
}

.epic_wins .block_head .coin2
{
    position: absolute;
    top: 0;
    right: 19px;

    display: block;

    width: 30px;

    pointer-events: none;
}


.epic_wins .item
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 330px;
    max-width: 100%;
    margin: 0 auto;

    text-decoration: none;

    color: currentColor;
    border-radius: 20px;
}


.epic_wins .item + .item
{
    margin-top: 20px;
}


.epic_wins .item:before
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: rgba(25, 27, 34, .4);
}


.epic_wins .item .icon
{
    position: absolute;
    z-index: 3;

    display: block;

    width: 50px;
    height: 50px;
    margin: auto;

    inset: 0;
}


.epic_wins .item picture img
{
    display: block;

    width: 100%;
}



/*----------
    What
----------*/
.what .block_head
{
    position: relative;

    padding-top: 24px;
}


.what .block_head .title_big
{
    font-size: 32px;
}


.what .block_head .title
{
    font-size: 32px;
}


.what .list > * + *
{
    margin-top: 10px;
}


.what .item
{
    padding: 26px 21px 21px 23px;

    border-radius: 20px;
    background-color: #191b22;
}



.what .item .name
{
    font-size: 16px;
    font-weight: 700;
    line-height: 144%;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    letter-spacing: .22px;
}


.what .item .name svg
{
    display: block;

    width: 44px;
    height: 44px;
}


.what .item .name span
{
    align-self: center;

    width: calc(100% - 60px);
}


.what .item .desc
{
    font-size: 13px;
    line-height: 160%;

    margin-top: 15px;

    color: rgba(255, 255, 255, .8);
}


.what .item .inner
{
    position: relative;

    display: flex;
    overflow: hidden;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 18px;
    padding: 18px 22px 20px 18px;

    border-radius: 20px;
    background: #23252c;
}

.what .item .inner + .inner
{
    margin-top: 5px;
}


.what .item .inner > *
{
    position: relative;
    z-index: 2;
}


.what .item .inner > img
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    display: block;

    max-width: 140px;

    pointer-events: none;
}


.what .item .inner svg
{
    display: block;

    width: 12px;
    height: 12px;
    margin-top: 2px;
}


.what .item .inner svg + div
{
    width: calc(100% - 28px);
    margin-left: auto;
}


.what .item .inner .name
{
    font-size: 13px;
    font-weight: 500;
    line-height: 160%;

    display: block;
}


.what .item .inner .logos
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 242px;
    max-width: calc(100% + 12px);
    margin-top: 20px;
    margin-bottom: -13px;
    margin-left: -12px;
}


.what .item .inner .logos > *
{
    margin-bottom: 13px;
    margin-left: 12px;
}


.what .item .inner .logos img
{
    display: block;

    max-width: 55px;
}


.what .item .inner .link
{
    margin-top: 18px;
}


.what .item .inner .link a
{
    font-size: 13px;
    font-weight: 700;

    display: inline-block;

    padding: 10px 40px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #0a0c14;
    border-radius: 100px;
    background: #00ffa6;
}



/*--------------
    Partners
--------------*/
.partners
{
    padding-top: 164px;
    padding-bottom: 60px;

    background: linear-gradient(180deg, #191b22 0%, #14161d 109.98%);

    -webkit-clip-path: polygon(0 13%, 100% 7%, 100% 100%, 0% 100%);
            clip-path: polygon(0 13%, 100% 7%, 100% 100%, 0% 100%);
}


.partners .block_head
{
    position: relative;

    padding-top: 32px;

    text-align: left;
}


.partners .block_head .title_big
{
    font-size: 45px;
}


.partners .block_head .title
{
    font-size: 32px;
}


.partners .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -9px;
    margin-left: -9px;
}


.partners .row > *
{
    width: calc(50% - 9px);
    margin-bottom: 9px;
    margin-left: 9px;
}


.partners .item
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 92px;
    padding: 23px;

    text-decoration: none;

    color: currentColor;
    border-radius: 20px;
    background: rgba(255, 255, 255, .05);
}


.partners .item img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}



/*------------
    Footer
------------*/
footer
{
    padding: 30px 0;

    background: rgb(25,27,34);
}



footer .logo img
{
    display: block;

    max-width: 100%;
    height: 44px;
    margin: 0 auto;
}
